[Unit]
Description=Simple random DNS, HTTP/S internet traffic noise generator

[Service]
User=root
WorkingDirectory=/opt/noisy
ExecStart=/opt/noisy/virtualenv/bin/python /opt/noisy/noisy.py --offline --config /opt/noisy/config.json

[Install]
WantedBy=multi-user.target
